/* Ajustar el tamaño de los íconos */
.nav-link i {
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 8px;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link span {
  display: none;
}

/* Espaciado entre los elementos del navbar */
.navbar-nav.ml-auto .nav-item {
  margin-left: 15px;
}

/* Estilo para el precio */
.card-text.text-primary {
  font-size: 1.2rem;
}

/* Ajuste de posición del ícono de carrito */
.btn-success {
  position: absolute;
  bottom: 55px;
  right: 15px;
}

/* Contenedor de la card */
.card {
  position: relative;
  height: 100%;
}

/* Botón para ver producto */
.btn-primary {
  margin-bottom: 5px;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 300px; /* Altura fija de 500px */
}
.position-relative {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -8px; /* Ajusta esta posición según sea necesario */
    right: -8px; /* Ajusta esta posición según sea necesario */
    font-size: 11px;
}
body {
    font-family: var(--font-chivo), sans-serif;
  }


  .custom-shape-divider-top-1718431840 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1718432199 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1718432199 svg {
    position: relative;
    display: block;
    width: calc(244% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1718432199 .shape-fill {
    fill: #A42524;
}